<ion-view>

	<!-- Hearder Bar Start -->

		<div class="bar bar-header categery_header_pan">

			<div class="row header_row">

				<div class="col-5 category_header">

            <button style="color: #fff;" class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="openLeftMenu()"></button>

        </div>
        
        <div  class="col-95 category_header cat_div">

					<span class="shopsize">Error Page</span>

				</div>

			</div>

	 	</div>

		<div style="clear:both;"></div>

 	<!-- Hearder Bar End -->

 

  	<ion-content class="has-header-error_page has-subheader">

  		<div class="row">

  			

  			<div class="col">

  				<div style="text-align: center; margin-top: 60px; opacity: 0.4;">

  					<i style="color: orange; font-size: 100px;" class="ion-android-wifi"></i>

  					<div style="color: orange; font-size: 25px;"> No internet  Connection </div>

  				</div>

  			</div>

  			

  		</div>

  	</ion-content>

</ion-view>  	