<ion-view>
	<!-- Hearder Bar Start -->
		<div class="bar bar-header new_address_header">
			<div class="row">
				<div style="text-align: center;" class="col">		
					<span>Add a new Address</span>
				</div>
			</div>
	    </div>
		<div style="clear:both;"></div>
 	<!-- Hearder Bar End -->
 	
  	<ion-content class="has-header-new_add">
  		<div class="row">
			<div class="col-10"></div>
			<div class="col">
				<div style="margin-bottom: 100px;" class="new_add_pan">
					<div class="pan_tags">
						<div class="pan_tags_lable">Business Name</div>
						<div class="pan_tags_box"><input style="width: 100%" type="text" /></div> 
					</div>
					<div class="pan_tags">
						<div class="pan_tags_lable">Contact Person Name</div>
						<div class="pan_tags_box"><input style="width: 100%" type="text" /></div> 
					</div>
					<div class="pan_tags">
						<div class="pan_tags_lable">Address</div>
						<div class="pan_tags_box"><textarea rows="3" style="width: 100%"></textarea></div> 
					</div>
					<div class="pan_tags">
						<div class="pan_tags_lable">Email</div>
						<div class="pan_tags_box"><input style="width: 100%" type="text" /></div> 
					</div>
					<div class="pan_tags">
						<div class="pan_tags_lable">Phone</div>
						<div class="pan_tags_box"><input style="width: 100%" type="text" /></div> 
					</div>
				</div>
			</div>
			<div class="col-10"></div>
		</div>		
	</ion-content>
	<div style="height: 70px !important;" class="bar bar-footer new_add_footer">
		<div class="row">
	    	<div class="col-5"></div>
	    	<div class="col">
	    		<div class="row">
	    			<div class="col">
	    				<a href="#"><div class="new_add_btn">Save</div></a>
	    			</div>
	    			<div class="col">
	    				<a href="#/app/my_address"><div class="new_add_btn">Back</div></a>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="col-5"></div>
	    </div>
	</div>
</ion-view>
