<ion-view>
	<!-- Hearder Bar Start -->
		<div class="bar bar-header product_header">
			<div class="row">
				<div class="col-75">			
					<a href="#"><span><i class="ion-android-arrow-back"></i></span></a>
				</div>
				<div class="col">
					<a href="#"><i style="font-size: 30px; color: #fff;" class="ion-ios-search"></i></a>
				</div>
				<div class="col">
					<a href="#"><i style="font-size: 30px; color: #fff;" class="ion-ios-cart"></i></a>
				</div>
			</div>
	 	</div>
		<div style="clear:both;"></div>
 	<!-- Hearder Bar End -->
 
  	<ion-content class="has-header-product has-subheader">	
  		<div style="margin-bottom: 100px;">
  			<div class="row">
  				<div class="col">
  					<div style="color: #000; font-family: 'Source Sans Pro', sans-serif; font-size: 20px;">
  					<span>Product name</span>
	  				</div>
  				</div>
  				<div style="text-align: right;" class="col">
  					<a href="#"><i style="font-size: 25px; margin-right: 10px; color: orange;" class="ion-ios-heart-outline"></i></a>
  				</div>
		  	</div>
		  	<div style="text-align: center;" class="col product_img">
			  	<img src="img/lv2.jpg" />
			</div>
		  		<div style="margin-bottom: 20px;" class="row">
		  			<div class="col">
		  				<div style=" display: block; text-align: center;">
			  				<span style="float: left; margin-left: 10px;" class="product-font">Color</span>
			  				<div style="background-color: red;" class="color-icon"></div>
			  				<div style="background-color: green;" class="color-icon"></div>
			  				<div style="background-color: blue;" class="color-icon"></div>
			  				<div style="background-color: gray;" class="color-icon"></div>
		  				</div>
		  			</div>
		  		</div>
		  		<div class="x-line"></div>
		  		<div style="text-align: center;" class="row">
		  			<div class="col">
		  				<div style="color: #C34A2C; font-family: 'Source Sans Pro', sans-serif; font-size: 25px;">Rs. <span>14999</span></div>
		  				<div style="padding-top: 5px; padding-bottom: 5px; font-size: 15px; font-family: 'Source Sans Pro', sans-serif;">
		  					<span style="#000; margin-left: 10px;"><strike>Rs. 17000</strike></span>
		  				</div>
		  			</div>
		  			<div class="col-5">
		  				<div class="y-line"></div>
		  			</div>
		  			<div class="col">
		  				<div style="padding-top: 5px; padding-bottom: 5px; border: 1px solid #2DC24A; border-radius: 30px; margin-left: 20px; height: 50px; width: 50px; color: #2DC24A; font-size: 15px; font-family: 'Source Sans Pro', sans-serif;">
		  					<span>20 % Off</span>
		  				</div>
		  			</div>
		  		</div>
		  		<div style=" margin-bottom: 20px;" class="x-line"></div>
		  		
		  		<div style="text-align: center; margin-bottom: 20px;" class="row">
		  			<div class="col">
		  				<button class="button button-clear">
		  					<i style="font-size: 35px; color: orange;" class="ion-android-arrow-dropdown-circle"></i>
		  				</button>
		  			</div>
		  		</div>
  		</div>				
	</ion-content>
	
	<div class="bar bar-subfooter product-subfooter">
		<div class="row">
			<div style="text-align: center;" class="col">
				<div class="cart-counter">
					<label style="padding-right: 0px !important;" class="item-input-wrapper">
						<button class="button button-clear plus btn"><i class="icon ion-android-add-circle my-icon placeholder-icon"></i></button>
					    <input style="width: 27px !important;" class="chart-counter-text" type="search" >
					    <button class="button button-clear mins btn"><i class="icon ion-android-remove-circle my-icon placeholder-icon"></i></button>
					</label>
				</div>
			</div>
			<div style="text-align: center;" class="col">
				<button class="button icon-left ion-bag button-positive">Add to Cart</button>
			</div>
		</div>
    </div>
	<div class="bar bar-footer bar-balanced">
		<div style="text-align: center;" class="row">
			<div class="col">
				<button class="button button-clear"><i class="my-icon ion-person-add"></i></button>
			</div>
			<div class="col">
				<button class="button button-clear"><i class="my-icon ion-person-add"></i></button>
			</div>
			<div class="col">
				<button class="button button-clear"><i class="my-icon ion-person-add"></i></button>
			</div>
			<div class="col">
				<button class="button button-clear"><i class="ion-android-remove-circle my-icon"></i></button>
			</div>
			<div class="col">
				<button class="button button-clear"><i class="my-icon icon ion-star"></i></button>
			</div>
		</div>
	</div>
</ion-view>


<!---
<ion-view class="grey_bg">
	<div id="block_down">
		<div class="list card">
			<div class="item item-avatar">
				<h1>Product 1</h1>
				<h2>Nine Inch Nails</h2>
			</div>
			<div class="item item-body">
				<img class="full-image" src="img/lv1.jpg">
			</div>
		</div>
		<div class="row">
		  <div class="col-75">
		  		<p id="product_xtr_img">
					<a href="#" class="subdued"><img id="" src="img/lv2.jpg" /></a>
					<a href="#" class="subdued"><img id="" src="img/lv3.jpg" /></a>
					<a href="#" class="subdued"><img id="" src="img/lv4.jpg" /></a>
				</p>
		  </div>
		  <div class="col-25 price">
		  	<h3>14999</h3>
		  </div>
		</div>
		<button ng-click="" class="button button-block button-assertive">
           	Specification
        </button>
        <div class="list">
		  <div class="item item-divider">
		    Memory
		  </div>
		  <a class="item" href="#">
		    RAM  3GB
		  </a>
		  <a class="item" href="#">
		    Internal  32GB
		  </a>
		  <a class="item" href="#">
		    Extandable up to 128GB
		  </a>
		</div>
	</div>
</ion-view>
------------------>